{% extends 'inv/base.html' %}


{% block content %}
{% load static %} 

  <h1>Items</h1>
  <p class="lead">There are {{ items.count }} items in this collection.</p>
  <div class="row mb-3">
    {% for i in items %}
      {% if forloop.counter0|divisibleby:4 and not forloop.first %}<!-- <div
        class="w-100"> </div> -->
      {% endif %}
      <div class="col-md-4 themed-grid-col">
        <div class="card mb-4 border-dark">
          {% if i.item_img|length > 0 %}
            <img class="card-img-top" 
               src="{% static 'inv/img/'|add:i.item_img %}" alt="Photo of Item">
            {% else %}<p>A photo of this item does not exist.</p>
            {% endif %}
            <p>
            Description: {{ i.item_desc }}<br/>
            Quantity: {{ i.item_qty }} <br/>
            Value (each): {{ i.item_value|floatformat:2 }} <br/>
            {% if i.item_qty > 1 %}
            Value (total): {{ i.totval|floatformat:2 }} <br/>
            {% endif %}
            {% if i.item_consumable == True %}
            Consumable: Yes<br/>
            Percent Remaining: {{ i.item_remaining }}&#37;<br/>
            {% else %}
            Consumable: No<br/>
            {% endif %}
            <a href="{% url 'item' i.item_id %}" class="btn btn-dark
                   btn-sm">View</a>
            </p>
      </div>
    </div>
    {% endfor %}
  </div>

  
{% endblock %}
