{% extends 'inv/base.html' %}


{% block content %}
{% load static %} 
 <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Item: {{ item.item_name }}</h1>
      <p>This item currently lives in<em> Box {{ box.bx_id }}: {{ box.name }}</em>,
      which is housed in the <em> {{ wh.name }}</em> warehouse.</p>
      {% if item.item_img|length > 0 %}
      <img src="{% static 'inv/img/' | add:item.item_img %}" alt="Photograph
        of item"/>
      {% else %}
      <p class="warning">A photograph of this item doesn't exist. If you'd like
      to contribute, please snap a photo and email it to the site contact with
      a subject line of "Property database photo for item {{ item.item_id }}"
      so we can add it (and so we know which database entry to add it to!).
      {% endif %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <p>
        Description: {{ item.item_desc }}<br/>
        Quantity: {{ item.item_qty }} <br/>
        Value (each): {{ item.item_value|floatformat:2 }} <br/>
        {% if item.item_qty > 1 %}
        Value (total): {{ item.totval|floatformat:2 }} <br/>
        {% endif %}
        {% if item.item_consumable == True %}
        Consumable: Yes<br/>
        Percent Remaining: {{ item.item_remaining }}&#37;<br/>
        {% else %}
        Consumable: No<br/>
        {% endif %}
        </p> 
      </div>
    </div>
  </div>
  <hr>
</div><!-- /container -->

  
{% endblock %}
