{% extends 'inv/base.html' %}
{% block content %}
{% load static %} 
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Reports</h1>
      <p class="lead">The following Reports are available  
      <dl class="row">
        <dt class="col-sm-3">Item Reports</dt>
        <dd class="col-sm-9"> 
          <ul type="none">
            <li>
              <a href="{% url 'report_itms' %}">Items</a>
            </li>
            <li>
              <a href="{% url 'report_boxes' %}">Items organized by box</a>
            </li>
            <li>
              <a href="{% url 'report_whs' %}">Items organized by warehouse and box</a>
            </li>
          </ul>
        </dd> 
      </dl>
     </div>
    </div>
  </div>
  <hr>
</div><!-- /container -->
{% endblock %}
